<%- include('ownerhead', { title: 'Authentication ' }) -%>
<body onload="runit2()">
<div class="header">
    <span class="<%= opsColor %>" font="white" ><%= ops %></span>
  </div>
<div class="topnav">
     
    <a href="http://localhost:8081"><span class="info"><%= owner %>/Logout</span></a> 
    <a href="#"><span class="info">View Transactions(Blockchain Admin)</span></a> 
    
  </div>

  <div class="row">
    <div class="column side">
      <p><a href="http://localhost:8081/ma?owner=<%= owner %>" id="clickme"><span class="warning">Manage Account</span></a></p>
      <p><a href=" http://localhost:8081/mp?owner=<%= owner %>"> <span class="warning">Manage Products</span></a></p>
      <p><a href=" http://localhost:8081/rp?owner=<%= owner %>"><span class="warning">View Reports</span></a></p>
      
    </div>
    
    <div class="column middle">
      <form method="post" action="/mp" id="owner-form" class="login-form" autocomplete="off" role="main" onsubmit="checkowner()">
        <h2 class="stitle">Product Details</h2>
        <div>
          <p>
          <label class="label-email">
            <span class="inputy">Owner</span>
            <input type="hidden" id="owner" name="owner" value="<%= owner %>"/>
            <input type="text" class="text" name="pname" id="pname" value="<%= owner %>" tabindex="1" size="10" required />
            
          </label>
          </p>
          <p>
          <label class="label-password">
            <span class="business">Products</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
                <span class="inputy">Product:::Category:::BrandName</span>
                <select  id="productname" name="productname">
                  <%- productandCate %>  
                </select>  
              
          </label>
          </p>
        </div>
        <p>
      </form>
      <p></p>
      <form method="post" action="/mp" id="product-form" class="login-form" autocomplete="off" role="main" onsubmit="checkproducts()">
        <input type="hidden" id="owner" name="owner" value="<%= owner %>"/>
        <input type="hidden" id="AddorRemove" name="AddorRemove" value="Remove"/>
        <h2 class="stitle">Add Products</h2>
        <div>
            <p>
              <label class="">
                <span class="business" style="color:gray" id="p1">Product Name(Add)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                 <input type="text" class="text" name="addprod" id="addprod" value=""  size="25" required />
              </label>
              </p>
              <p>
                <label class="">
                  <span class="business" style="color:gray" id="p2">Category(Add)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                   <input type="text" class="text" name="addcatep" id="addcatep" value=""  size="25" required />
                </label>
                </p>  
                <p>
                    <label class="">
                      <span class="business" style="color:gray" id="p3">BrandId(Add)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                       <input type="text" class="text" name="addbrandp" id="addbrandp" value=""  size="25" required />
                    </label>
                </p>        
        </div>
        <input type="submit" id="proddelete" value="Remove" />
        <input type="submit" id="prodadd" value="Add" />
        <p>
        <input type="checkbox" name="updatepd" class="show-password a11y-hidden" id="addproductcheck" tabindex="4" onclick="updateproducts()"/>
        <label class="business">
          <span>Add Product</span>
        </label>
        <p>
      </form>

    </div>  
  </div>
 
<%- include('foot') -%>