<%- include('ownerhead', { title: 'Authentication ' }) -%>
<body>
<div class="header">
    <span class="<%= opsColor %>" font="white" ><%= ops %></span>
  </div>
<div class="topnav">
     
    <a href="http://localhost:8081"><span class="info"><%= owner %>/Logout</span></a> 
    <a href="#"><span class="info">View Transactions(Blockchain Admin)</span></a> 
    
  </div>
  <div class="row">
    <div class="column side">
      <p><a href="http://localhost:8081/ma?owner=<%= owner %>" id="clickme"><span class="warning">Manage Account</span></a></p>
      <p><a href=" http://localhost:8081/mp?owner=<%= owner %>"> <span class="warning">Manage Products</span></a></p>
      <p><a href=" http://localhost:8081/rp?owner=<%= owner %>"><span class="warning">View Reports</span></a></p>
      
    </div>

    <!-- Container for the visualization -->
    <div class="column middle" >
     
    <h2 class="stitle">Visualised Product Details for <%= owner %></h2>
    <div id="vis"> </div> 
    <div id="vis2"> </div>
    <div id="mydiv" data-test="<%=  JSON.stringify(s1) %>"></div>
    
    <script>
      var ss = document.getElementById('mydiv').dataset.test
      // Assign the specification to a local variable vlSpec.
      var vlSpec = {
        $schema: 'https://vega.github.io/schema/vega-lite/v5.json',
        data: {
          values: [
            {a: 'C', b: 2},
            {a: 'C', b: 7},
            {a: 'C', b: 4},
            {a: 'D', b: 1},
            {a: 'D', b: 2},
            {a: 'D', b: 6},
            {a: 'E', b: 8},
            {a: 'E', b: 4},
            {a: 'E', b: 7}
          ]
        },
        mark: 'point',
        encoding: {
          y: {field: 'a', type: 'nominal'},
          x: {
            aggregate: 'average',
            field: 'b',
            type: 'quantitative',
            axis: {
              title: 'Average of b'
            }
          }
        }
      };
      var vlSpec2 = {
        $schema: 'https://vega.github.io/schema/vega-lite/v5.json',
        data: {
          values: ss
        },
        mark: 'point',
        encoding: {
          y: {field: 'a', type: 'nominal'},
          x: {
            aggregate: 'average',
            field: 'b',
            type: 'quantitative',
            axis: {
              title: 'Solar Station Total Yeilds'
            }
          }
        }
      };

      // Embed the visualization in the container with id `vis`
      vegaEmbed('#vis', vlSpec);
      vegaEmbed('#vis2', vlSpec2);
    </script>
  
  </div>  
 <%- include('foot') -%>
